.wrapper {
  display: flex;
  .filter_box {
    width: 300px;
    border: 1px dashed #999;
    padding: 10px;
    .selected {
      flex-wrap: wrap;
      gap: 30px;
      display: flex;
      .checkbox_item {
        width: 40%;
        display: flex;
        justify-content: space-between;
        border: 1px solid #999;
        padding: 4px 8px;
        border-radius: 8px;
      }
      .checkbox_item_checked {
        width: 40%;
        display: flex;
        justify-content: space-between;
        border: 1px solid rgb(96, 158, 244);
        padding: 4px 8px;
        border-radius: 8px;
      }
    }
  }
  .list_product {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 30px;
  }
}
